body {
  /* background-color: #f7fafc !important; */
}

/* Remove search and trends */
[data-testid='sidebarColumn'] {
  display: none !important;
}

/* Make main column wider */
.r-1ye8kvj {
  max-width: 900px !important;
}

/* div that is immediate parent of element with aria-label... */
div:has(> [aria-label='Profile timelines']) {
  /* max-width: 800px !important; */
}

/* For you tab */
[data-testid='ScrollSnap-List'] > :first-child {
  /* display: none !important; */
}

/* Remove Sidebar Elements */
[aria-label='Grok'] {
  display: none !important;
}

[aria-label='Premium'] {
  display: none !important;
}

[aria-label='Communities'] {
  display: none !important;
}
